<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<CONFIG>	
	<Administrator Name="André Sousa" email="afssa11111@iscte-iul.pt"/>
	<Administrator Name="Bruno Gama" email="bmosg@iscte-iul.pt"/>
	<Administrator Name="Carlos Rafael" email="crscf@iscte-iul.pt"/>
	<Paths>
		<jMetalPath>/users/abc/def</jMetalPath>
		<jarsPath>/users/xyz/kyw</jarsPath>
	</Paths>
</CONFIG>
